<div class="flex items-center">
    <h5 class="flex-none"><%= title %></h5>
    <span id="count-<%= id %>" class="ml-2 text-gray-600 flex-none"><%= data.length %></span>
</div>
<ul>
    <% data.forEach(function(todo) { %>
        <li class="Todo-Item">
            <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-<%= bgColor %>">
                <input type="checkbox" class="w-4 h-4 text-blue-600 bg-green-100 rounded border-gray-300" />
                <label class="ml-2 text-sm text-gray-600 cursor-pointer">
                    <%= todo.title %> (<%= todo.dueDate ? `Due on ${todo.dueDate}` : "Due Today" %>)
                </label>
            </div>
        </li>
    <% }); %>
</ul>
